<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<h1>Добавяне на продукт</h1>
<form th:action="@{/products/add}" th:method="post">
    <label for="product_id">ID на продукт:</label>
    <input type="number" id="product_id" name="product_id" required>
    <br>
    <label for="name">Име на продукт:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="price">Цена:</label>
    <input type="number" id="price" name="price" required>
    <br>
    <label for="quantity">Количество:</label>
    <input type="number" id="quantity" name="quantity" required>
    <br>
    <label for="type">Вид продукт:</label>
    <select id="type" name="type" required>
        <option value="">Изберете...</option>
        <option value="food">Храни</option>
        <option value="drinks">Напитки</option>
        <option value="sanitary">Санитарни</option>
        <option value="railing">Парапети</option>
        <option value="others">Аксесоари, декорация, други</option>
    </select>
    <br>
    <label for="color">Цвят (по желание):</label>
    <input type="text" id="color" name="color">
    <br>
    <label for="expires_in">Срок на годност (по желание):</label>
    <input type="date" id="expires_in" name="expires_in">
    <br>
    <br>
    <button type="submit">Добавяне</button>
</form>
</body>
</html>