<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy product</title>
</head>
<body>
<h1>Купуване на продукт</h1>

<div th:if="${product}">
  <h2 th:text="${product.name}"></h2>
  <p>Цена: <span th:text="${product.price}"></span></p>
  <p>Налично количество: <span th:text="${product.quantity}"></span></p>

  <form th:action="@{/products/buy/{id}}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>

      <input type="hidden" name="name" th:value="${product.name}"/>
      <input type="hidden" name="price" th:value="${product.price}"/>
      <input type="hidden" name="categoryType" th:value="${product.categoryType}"/>
      <input type="hidden" name="color" th:value="${product.color}"/>
      <input type="hidden" name="expires_in" th:value="${product.expires_in}"/>
      <input type="hidden" name="quantity" th:value="${product.quantity}">

      <p>
          <label for="quantityNew">Въведете количество:</label>
          <input type="number" id="quantityNew" name="quantityNew" min="1" max="${product.quantity}" value="1">
      </p>
    <button type="submit">Купи</button>
  </form>
</div>

<div th:unless="${product}">
  <p>Продуктът не е намерен.</p>
</div>
</body>
</html>