<!DOCTYPE html>
<html lang="en" html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<ul>
  <li><a href="#">Управление на продукти</a>
    <ul>
      <li><a href="#">Добавяне на продукт</a></li>
      <li><a href="#">Промяна на продукт</a></li>
      <li><a href="#">Изтриване на продукт</a></li>
      <li><a href="#">Списък с продукти</a></li>
    </ul>
  </li>
  <li><a href="#">Управление на поръчки</a>
    <ul>
      <li><a href="#">Промяна на статуса на поръчка</a></li>
      <li><a href="#">Справка с поръчки</a></li>
    </ul>
  </li>
  <li><a href="#">Допълнителни функции</a>
    <ul>
      <li><a href="#">Сортиране на служителите</a></li>
    </ul>
  </li>
</ul>

<form th:action="@{/logout}" method="post">
  <button type="submit">Изход</button>
</form>
</body>
</html>