<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Products</title>
</head>
<body>
<h1>Списък с продукти</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Име</th>
    <th>Цена</th>
    <th>Количество</th>
    <th>Вид</th>
    <th>Цвят</th>
    <th>Срок на годност</th>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.quantity}"></td>
    <td th:text="${product.categoryType}"></td>
    <td th:text="${product.color}"></td>
    <td th:text="${product.expires_in}"></td>
    <br>
    <td>
      <a th:href="@{/products/edit/{id}(id=${product.id})}" >Промяна на продукт</a>
      <a th:href="@{/products/buy/{id}(id=${product.id})}" >Купуване на продукт</a>
      <a th:href="@{/products/delete/{id}(id=${product.id})}" >Изтриване на продукт</a>
    </td>

  </tr>
</table>
<br>
<a href="/products/add">Добавяне на продукт</a>
<br>

<h1>Сортиране по:</h1>
<a href="/products/sort-id">ID</a>
<a href="/products/sort-name">Име</a>
<a href="/products/sort-price">Цена</a>
<a href="/products/sort-quantity">Количество</a>
<a href="/products/sort-expires">Срок на годност</a>
<br>
<h1>Търсене по категория:</h1>
<a href="/user/search/category/food">FOOD</a>
<br>
<a href="/user/search/category/drinks">DRINKS</a>
<br>
<a href="/user/search/category/sanitary">SANITARY</a>
<br>
<a href="/user/search/category/railings">RAILINGS</a>
<br>
<a href="/user/search/category/others">OTHERS</a>


<br>
<br>
<form th:action="@{/logout}" method="post">
  <button type="submit">Изход</button>
</form>
</body>
</html>